<!DOCTYPE HTML>
<html>
    <head>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=320, user-scalable=no"> 
        <meta name="apple-mobile-web-app-capable" content="yes"> 
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <title>match3 test</title>

        <script type="text/javascript" src="js/enchant.js"></script>
        <script type="text/javascript" src="js/game.js"></script>
        <style type="text/css">
            body {
                background-color: #000000;
                margin: 0;
            }
        </style>
        {% if Device.Platform == IOS %}<script type="text/javascript" charset="utf-8" src="js/phonegap.0.9.5.1_ios.js"></script>{% endif %}
        {% if Device.Platform == Android %}<script type="text/javascript" charset="utf-8" src="js/phonegap.0.9.5.1_android.js"></script>{% endif %}
    </head>
    
    <body data-role="page">
    </body>
</html>
